* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: rgb(1,35,52) !important;
    background: linear-gradient(45deg, rgba(1,35,52,1) 9%, rgba(2,0,36,1) 68%, rgba(0,0,0,1) 80%) !important;
    font-family: 'Roboto Condensed', sans-serif !important;
}

main{
    padding-top: 60px;
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: -150px;
}

body::-webkit-scrollbar{
    width: 7px;
    padding-top: 22px;
    height: 5px;
  }
  
body::-webkit-scrollbar-thumb{
    background-color: rgb(6, 40, 85);
    border-radius: 5px;
  }

  .ScrollCards::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .ScrollCards::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #4f5055;
  }

/* Componente del Banner */

.container-home{
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-home h1{
    letter-spacing: 5px;
 }

.container-home h2{
    display: inline;
   letter-spacing: 3px;
}

.container-home span{
    font-size: 20px;
}

.scrollContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.scrollContainer .scrollItem{
    position: relative;
    width: 100px;
}

#btn-download-cv{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background: transparent;
    box-shadow: inset 0 0 0 0 #3694FF;
    font-size: 20px;
    padding: 10px;
    gap: 5px;
    color: #3694FF;
    margin-top: 20px;
    border: 1px solid #3694FF;
    border-radius: 5px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#btn-download-cv:hover{
    color: white;
    box-shadow: inset 200px 0 0 0 #3694FF;
}

/* Componente About */

.containers{

    padding: 100px 200px 0 200px;
    width: 100%;
}

.container-about img{
    border-radius: 50px;
}

.containers .text-section{
    display: block;
    width: 100%;
}

.containers .text-section h1{
    display: flex;
    /* padding: 100px 500px; */
    justify-content: center;
}

.containers h1{
    padding-top: 100px;
    display: block;
}

.container-about p{
    font-size: 25px;
}

.container-about strong{
    background: linear-gradient(45deg, rgba(20,38,190,1) 9%, rgba(255,255,255,1) 44%, rgba(208,0,0,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
}

.container-about .animation{
    width: 80%;
}


/* Componente Proyects */

.containers{
    padding: 100px 200px 0 200px;
    width: 100%;
}

.position {
    width: auto !important;
    display: flex;
    align-items: center;
    padding: 10px 1rem 0 0 !important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #00000066;
    backdrop-filter: saturate(180%) blur(10px);
    gap: 0.25rem;
  }

  /* Componente ProjectCard */

  

  .technologys-list{
    position: relative;
    display: flex;
    flex-direction: column;
}

  .technologys-list p{
    width: 50%;
    border-bottom: solid 1px #ffffff;
  }

  #btn_close{
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #btn_close:hover{
    color: rgb(172, 14, 14);
  }

  .nextui-c-cakKrd-ikWZVSY-css{
    backdrop-filter: saturate(180%) blur(3px) !important;
  }

  /* Componente Skills */

  .images-skills{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #00000066;
    backdrop-filter: saturate(180%) blur(10px);
   
  }

  .images-skills:hover{
    animation: cartel 1s 1;
    transform-origin: top center;
  }
  @keyframes cartel{ 
    20%{
      transform: rotate(20deg)
    }
    40%{
      transform: rotate(-15deg)
    }
    60%{
      transform: rotate(10deg)
    }
    80%{
      transform: rotate(-5deg)
    }  
  }

  .images-skills img{
    margin: 0 auto;
    width: 30%;
  }

  .images-skills p{
    font-size: 25px;
  }


  /* Componente de Contact */

  .container-cards-referents{
    padding: 80px 0 100px 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        150px,
        1fr
      )
    );
  }


  .myCard {
    background-color: transparent;
    width: 200px;
    height: 254px;
    perspective: 1000px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .frontSide{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }

  .frontSide p {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 1rem;

    position: absolute;
    bottom: 0;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 8px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }

  .backSide > div {
    display: flex;
    gap: 20px;
  }

  .backSide > div a{
    font-size: 25px;
  }
  
  .carlos,
  .carlos::before {
    background: 
    url('./static/images/Referents/carlos.jpg') 
    no-repeat 
    center;
    background-size: cover;
  }

  .goncy,
  .goncy::before {
    background: 
    url('./static/images/Referents/goncy.jpg')
    no-repeat 
    center;
    background-size: cover;
  }

  .alan,
  .alan::before {
    background: 
    url('./static/images/Referents/alan.png')
    no-repeat 
    center;
    background-size: cover;
  }
  
  .backSide {
    transform: rotateY(180deg);
  }

  .backSide .title{
    font-size: 1em;
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }


/* SECCION RESPONSIVE */

@media screen and ( max-width: 1550px ) {



    /* Componente About */

    .container-about{
        padding: 100px 100px 0 100px;
    }

    .container-about p{
        font-size: 23px;
        top: 40%
    }

}

@media screen and ( max-width: 1300px ) {

    /* Componente About */

    .container-about p{
        width: 400px;
        font-size: 20px;
         top: 30% 
    }

}

@media screen and ( max-width: 960px ) {

    /* Componente Banner */

    .container-home h1{
        font-size: 45px;
     }

    .container-home h2{
        font-size: 30px;
     }

     .container-home span{
        font-size: 15px;
     }

     #btn-download-cv{
        width: 30%;
     }

   /* Componente About */

   .container-about{
    padding: 100px 200px 0 200px;
}

   .containers h1{
     font-size: 55px;
    }  
    
    .container-about p{
        text-align: center;
        padding: 20px 0 50px 0;
        margin: 0 auto;
        font-size: 20px;
    } 
   
    .container-about .animation{
        display: none;
    }

    .container-about p{
        top: 0;
    }

    /* Componente ProjectCard */

    #container-modal-body{
        text-align: center;
        align-items: center;
    }

    .technologys-list{
        text-align: center;
        align-items: center;
    }


    /* Componente Skills */

    .images-skills p{
        font-size: 20px;
    }

    /* Componente Contact */

    .container-cards-referents{
      justify-content: center;
      flex-direction: column;
      gap: 50px;
    }

}


@media screen and ( max-width: 760px ) {

    /* Componente About */

    .containers{
        padding: 100px 100px 0 100px;
        width: 100%;
    }

    .container-about .container-sections{
        margin-top: 20px;
    }

    /* Componente Skills */

    .images-skills img{
        width: 20%;
    }

}


@media screen and ( max-width: 620px ) {

    /* Componente Contact */

    .container-cards-referents{
      padding: 40px 20px 100px 20px;
    }

    .text-section > h2 {
      font-size: 15px;
    }
    
    /* Componente Banner */

    .container-home{
        height: 77vh;
        text-align: center;
    }

    .container-home h1{
        font-size: 40px;
     }

    .container-home h2{
        font-size: 30px;
     }

     .container-home span{
        font-size: 16px;
     }

     .scrollContainer .scrollItem{
        padding-bottom: 35px;
        width: 75px;
    }

    #btn-download-cv{
        height: 45px;
        width: 40%;
        margin: 0 auto;
        padding: 5px;
        font-size: 15px;
        margin-top: 20px;
     }

    /* Componente About */

    .containers{
        padding: 20px 30px 0 30px;
        width: 100%;
    }

    .container-about p{
        font-size: 15px;
    } 

    .container-about img{
        margin: 0 auto;
        height: 300;
        width: 300px;
    } 

    /* Componente Skills */

    .list-skills{
        margin-top: 50px !important;
        padding-top: 0px !important;
    }

    .images-skills img{
        width: 15%;
    }


    /* Componente Contact */




}

@media screen and ( max-width: 400px ) {

    .containers .text-section h1{
        font-size: 45px;
    }

    /* Componente Banner */
    .container-home{
        height: 80ch;
        padding: 0 55px;
    }

    .presentacion{
        height: 100%;
        margin-top: 80px;
        text-align: left;
    }

    .container-home h1{
        font-size: 60px;
     }

    .container-home h2{
        font-size: 50px;
     }

     #h2_banner_secund {
        font-size: 40px; 
     }

     .container-home span{
        font-size: 15px;
     }

     #btn-download-cv{
        position: absolute;
        /* margin-top: 100px !important; */
        padding: 15px;
        font-size: 16px !important;
     }

     .scrollContainer{
        display: none;
     }

     /* Componente About */

    .container-about p{
        font-size: 13px;
    } 

    .container-about img{
        height: 350px;
        width: 250px;
    } 


    /* Compontente Skills */

    .images-skills{
        margin-top: -50px !important;
    }
    
    /* Componente Contact */

}
