* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: rgb(1,35,52) !important;
    background: linear-gradient(45deg, rgba(1,35,52,1) 9%, rgba(2,0,36,1) 68%, rgba(0,0,0,1) 80%) !important;
    font-family: 'Roboto Condensed', sans-serif !important;
}

main{
    padding-top: 60px;
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: -150px;
}

/* Componente del Banner */

.container-home{
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-home h1{
    letter-spacing: 5px;
 }

.container-home h2{
    display: inline;
   letter-spacing: 3px;
}

.container-home span{
    font-size: 20px;
}

.scrollContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.scrollContainer .scrollItem{
    position: relative;
    width: 100px;
}

/* Componente About */

.containers{

    padding: 100px 200px 0 200px;
    width: 100%;
}

.container-about img{
    border-radius: 50px;
}

.containers .text-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containers h1{
    padding-top: 100px;
    display: block;
}

.container-about p{
    font-size: 25px;
}

.container-about strong{
    background: linear-gradient(45deg, rgba(20,38,190,1) 9%, rgba(255,255,255,1) 44%, rgba(208,0,0,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
}

.container-about .animation{
    width: 80%;
}


/* Componente Proyects */

.containers{
    padding: 100px 200px 0 200px;
    width: 100%;
}

.position {
    width: auto !important;
    display: flex;
    align-items: center;
    padding: 10px 1rem 0 0 !important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #00000066;
    backdrop-filter: saturate(180%) blur(10px);
    gap: 0.25rem;
  }

  /* Componente ProjectCard */

  

  .technologys-list{
    position: relative;
    display: flex;
    flex-direction: column;
}

  .technologys-list p{
    width: 50%;
    border-bottom: solid 1px #ffffff;
  }

  #btn_close{
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #btn_close:hover{
    color: rgb(172, 14, 14);
  }

  /* Componente Skills */

  .images-skills{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #00000066;
    backdrop-filter: saturate(180%) blur(10px);
   
  }

  .images-skills:hover{
    animation: cartel 1s 1;
    transform-origin: top center;
  }
  @keyframes cartel{ 
    20%{
      transform: rotate(20deg)
    }
    40%{
      transform: rotate(-15deg)
    }
    60%{
      transform: rotate(10deg)
    }
    80%{
      transform: rotate(-5deg)
    }  
  }

  .images-skills img{
    margin: 0 auto;
    width: 30%;
  }

  .images-skills p{
    font-size: 25px;
  }


  /* Componente de Contact */


  .container-contact .Input{
    position: relative;
    width: 100%;
    height: 5vh;
  }

  #contact form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container-contact label{
    margin-top: 30px !important;
  }

  .container-contact button{
    margin: 0 auto;
    margin-top: 140px;
  }


/* SECCION RESPONSIVE */

@media screen and ( max-width: 1550px ) {

    .containers .text-section{
        display: block;
        width: 100%;
    }

    .containers .text-section h1{
        display: flex;
        /* padding: 100px 500px; */
        justify-content: center;
    }

    /* Componente About */

    .container-about{
        padding: 100px 100px 0 100px;
    }

    .container-about p{
        font-size: 23px;
        top: 40%
    }

}

@media screen and ( max-width: 1300px ) {

    /* Componente About */

    .container-about p{
        width: 400px;
        font-size: 20px;
         top: 30% 
    }

}

@media screen and ( max-width: 960px ) {

    /* Componente Banner */

    .container-home h1{
        font-size: 45px;
     }

    .container-home h2{
        font-size: 30px;
     }

     .container-home span{
        font-size: 15px;
     }

   /* Componente About */

   .container-about{
    padding: 100px 200px 0 200px;
}

   .containers h1{
     font-size: 55px;
    }  
    
    .container-about p{
        text-align: center;
        padding: 20px 0 50px 0;
        margin: 0 auto;
        font-size: 20px;
    } 
   
    .container-about .animation{
        display: none;
    }

    .container-about p{
        top: 0;
    }

    /* Componente ProjectCard */

    #container-modal-body{
        text-align: center;
        align-items: center;
    }

    .technologys-list{
        text-align: center;
        align-items: center;
    }


    /* Componente Skills */

    .images-skills p{
        font-size: 20px;
    }

}


@media screen and ( max-width: 760px ) {

    /* Componente About */

    .containers{
        padding: 100px 100px 0 100px;
        width: 100%;
    }

    .container-about .container-sections{
        margin-top: 20px;
    }

    /* Componente Skills */

    .images-skills img{
        width: 20%;
    }

}


@media screen and ( max-width: 620px ) {


    /* Componente Banner */

    .container-home{
        height: 77vh;
        text-align: center;
    }

    .container-home h1{
        font-size: 25px;
     }

    .container-home h2{
        font-size: 20px;
     }

     .container-home span{
        font-size: 12px;
     }

     .scrollContainer .scrollItem{
        padding-bottom: 35px;
        width: 75px;
    }

    /* Componente About */

    .containers{
        padding: 100px 30px 0 30px;
        width: 100%;
    }

    .container-about p{
        font-size: 15px;
    } 

    .container-about img{
        margin: 0 auto;
        height: 300;
        width: 300px;
    } 

    /* Componente Skills */

    .list-skills{
        margin-top: 50px !important;
        padding-top: 0px !important;
    }

    .images-skills img{
        width: 15%;
    }


    /* Componente Contact */

    #contact #container-about-buttons{
        margin-top: 20px;
    }

    #contact #animation-contact{
        width: 100% !important;
    }


}

@media screen and ( max-width: 400px ) {

    .containers .text-section h1{
        font-size: 45px;
    }

    /* Componente Banner */

    .container-home h1{
        font-size: 20px;
     }

    .container-home h2{
        font-size: 15px;
     }

     .container-home span{
        font-size: 10px;
     }

     /* Componente About */

    .container-about p{
        font-size: 12px;
    } 

    .container-about img{
        height: 200;
        width: 200px;
    } 


    /* Compontente Skills */

    .images-skills{
        margin-top: -50px !important;
    }
    
    /* Componente Contact */

    #contact button{
        font-size: 17px;
    }

}
