nav{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 1rem;
    z-index: 1;
}

nav img{
  width: 60px;
  padding-left: 10px;

}

.btn-nav{
    display: flex;
    position: relative;
    text-align: center;
}

.btn-nav a{
    font-size: 1.2rem;
    /* border: 2px solid transparent; */
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: .7rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.btn-nav #selected {
  border-bottom: 1px solid #ffffff;
  transition: all 1s ease-in-out;
}

.btn-nav a:hover{
  color: #1DA1F2;
  /* border-radius: 5px;
  border: 2px solid #ffffff; */
}

.iconos-navbar{
  color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    margin-left: 30px;
}

#git, #linkedin, #twitter, #twitch{
  color: #ffffff;
  transition: color .3s ease-in-out;
}

#git:hover{
  color: #F1502F;
}

#linkedin:hover{
  color: #0077B5
}

#twitter:hover{
  color: #1DA1F2
}

#twitch:hover{
  color: #af0dcf
}

/* Estilos del botton burger */

.burger{
  display: none;
}

.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

  /* Componente Footer */

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90px;
    padding: 1rem;
    background: #00000066;
    backdrop-filter: saturate(180%) blur(10px);
    border-top: 1px solid #494949;
  }

  footer .iconos-navbar{
    font-size: 20px;
    margin-top: 10px;
  }

  footer .container-icons-footer{
    display: flex;
    justify-content: center;
}

  #footer-text span{
    color: rgb(255, 197, 77);
  }

#btn-blog{
  display: flex;
  align-items: center;
  gap: 5px;
}


@media screen and ( max-width: 768px ) {
    .burger{
        display: block;
    }

    .btn-nav{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 60px;
      right: -300px;
      width: 300px;
      height: 100vh;
      z-index: 1;
      background-color: #272828;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
  }

  .btn-nav a{
    min-width: 150px;
  }

  .btn-nav.active {
    right: 0;
  }

  .btn-nav a{
    font-size: 24px;
    margin-bottom: 25px;
  }

}

@media screen and ( max-width: 620px ) {

  footer p{
    font-size: 15px;
  }

}


@media screen and ( max-width: 530px ) {

  footer p{
    font-size: 14px;
  }

  footer .container-icons-footer svg{
    font-size: 20px;
  }
}

@media screen and ( max-width: 400px ) {

  /* Componente Navbar */

  nav {
    padding: 10px !important;
  }

  .iconos-navbar{
    margin-left: 25px;
  }

  /* Componente Footer */

  footer p{
    font-size: 12px;
  }

  footer .iconos-navbar{
    font-size: 15px;
  }

  footer .iconos-navbar{
    margin-left: 10px;
  }

}